
*{
	margin:0px;
}

@keyframes welcome{
        0%{transform:rotate(0deg) scale(0); color: white;}
        20%{transform:rotate(360deg) scale(0.2); color: red;}
        40%{transform:rotate(720deg) scale(0.4); color: white;}
        60%{transform:rotate(1080deg) scale(0.6);}
        80%{transform:rotate(1440deg) scale(0.8); color: red;}
        100%{transform:rotate(1800deg) scale(1); color: white;}
}

body{
        /*overflow: hidden;*/
	background-image:url('../images/back1.jpg');
        /*background-position: center;*/
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
}

ul {
        top:0;
        bottom: 95%;
        position: fixed;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #555;
}

li {
        float: left;
        border-right:1px solid #bbb;
}

li:hover{
        background-color: red;
}

li a {
        display: block;
        color: skyblue;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

#abhi{
        text-align: center;
        color:white;
        font-size: 1.8vw;
        animation:welcomeq 5s ease infinite;
        /*animation-duration: 2s;*/
        overflow: hidden;
}

@keyframes welcomeq{
        0%{color: cyan;}
        20%{color: white;}
        40%{color: red;}
        60%{color: blue;}
        80%{color: purple;}
        100%{color: cyan;}
}
